Package: com.cakehorn.celebrityjeopardysounds
Name: Celebrity Jeopardy Sounds
Version: 1.0
Architecture: iphoneos-arm
Description: Celebrity Jeopardy Sounds
Homepage: 
Maintainer: Fez
Author: Fez
Section: Ringtones
