Package: com.cakehorn.shitsfucked
Name: Everybody Knows Shit's Fucked Ringtone
Version: 1.0
Architecture: iphoneos-arm
Description: Everybody Knows Shit's Fucked!
Homepage: 
Maintainer: Fez
Author: Fez
Section: Ringtones
